<p><%= @city %> Profile</p>

<h2>Air Quality</h2>


<div class="aqiProfile">
	<div class="slidecontainer">
		<input type="range" disable=true min="0" max=<%= @aqi_score + 100 unless @aqi_score > 600 %> value=<%= @aqi_score %> class="slider" id="myRange">
	</div>

	<div class="scoreStats">
		<p><%= @aqi_score %></p>

		<div id="scoreCheck">
			<p><%= @aqi_score_check %>
		<div>
	</div>
</div>


<a href="/">Return to Home</a>
